
#openFileId{
    -fx-background-image: url("../images/open.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}
#playButtonId{
    -fx-background-image: url("../images/play.png");
    -fx-background-size: 25 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    
}
#pauseButtonId{
    -fx-background-image: url("../images/pause.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    
}
#stopButtonId{
    -fx-background-image: url("../images/stop.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    
}